
<section class="mbr-footer footer4 mbr-section mbr-section-md-padding" id="contacts4-6" data-rv-view="15" style="background-color: rgb(46, 46, 46); padding-top: 60px; padding-bottom: 30px;">

    <div class="container">
        <div class="mbr-contacts row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <p><strong>Address</strong><br>Asia Pacific Institute of Information Technology,<br>near Toll Plaza G.T. Road,<br>Panipat,<br>Haryana India (132103).<br><br><br>
<strong>Contacts</strong><br>
Email: 8615208@apiit.edu.in<br>
Phone: +91 8007503717</p>
                    </div>
                    <div class="col-sm-6"><p class="mbr-contacts__text"><strong>Model Building Steps</strong></p><ul class="mbr-contacts__list"><li><a class="text-white" href="https://mobirise.com/">T</a>raining of model</li><li>Testing of model</li><li>Prediction from built model</li></ul></div>
                </div>
            </div>
            <div class="col-sm-4" data-form-type="formoid">
                <div data-form-alert="true">
                    <div hidden="" data-form-alert-success="true">Thanks for filling out form!</div>
                </div>
                <form action="" method="post" data-form-title="MESSAGE">
                    <input type="hidden" value="CBGWIq1+liGyuVfRrprPaRNeiVfHGOahE6jhAAokPI2E/fSndGqynw9C0EQuyE9UngmihTT51pcgkd9bKinWCA3XyIXWPfOCjdLG23IIuZZ8698k6O7moMD/qtNckGeO" data-form-email="true">
                    <div class="form-group">
                        <label class="form-control-label" for="contacts4-6-name">Name<span class="form-asterisk">*</span></label>
                        <input type="text" class="form-control input-sm input-inverse" name="name" required="" data-form-field="Name" id="contacts4-6-name">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="contacts4-6-email">Email<span class="form-asterisk">*</span></label>
                        <input type="email" class="form-control input-sm input-inverse" name="email" required="" data-form-field="Email" id="contacts4-6-email">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="contacts4-6-message">Message</label>
                        <textarea class="form-control input-sm input-inverse" name="message" data-form-field="Message" rows="4" id="contacts4-6-message"></textarea>
                    </div>
                    <div class="mbr-buttons mbr-buttons--right btn-inverse"><button type="submit" class="btn btn-sm btn-info">Contact us</button></div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-5" data-rv-view="13" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container text-xs-center">
        <p>Copyright (c) Developed by Mexson Fernandes (8615208)</p>
    </div>
</footer>

{% load staticfiles %}

  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/smooth-scroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'assets/viewport-checker/jquery.viewportchecker.js' %}"></script>
  <script src="{% static 'assets/jarallax/jarallax.js' %}"></script>
  <script src="{% static 'assets/touch-swipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  <script src="{% static 'assets/formoid/formoid.min.js' %}"></script>


  <input name="animation" type="hidden">
  </body>
</html>
